.card {
  font-family: 'Kanit', sans-serif;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    transform: scaleY(-1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  .row {
    --bs-gutter-x: 0rem !important;
    }
  