 .Home-Slider{
    margin-bottom: 100px;
    
 }

 .Home-Slider:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

 .Home-Slidertitle {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;

  }
  
  .Home-SliderImage {
    border-radius: 20px;
    width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    
  }
  img.Home-SliderImage {
    outline: none;
    border: none;
  }
  
  .slick-slider {
    overflow: hidden;
  }
  
  @media (max-width: 576px) {
    .Home-SliderImage {
      width: 100%;
    }
  }
  