* {
	margin: 0;
	padding: 0;
}
body {
	background-position: center;
	overflow-x: hidden;
  }

header {
	margin-bottom: 10px;
  }

header li {
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
  }

.footer {
	background-position: center;
}

.navbar {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
  
  .logo {
	height: 40px;
	margin-right: 10px;
  }
  
  .navbar-nav .nav-item {
	margin: 0 10px;
  }
  
  @media (max-width: 768px) {
	.navbar-nav {
	  margin-top: 10px;
	}
  }


.card {
	max-width: 400px;
	width: 100%;
	margin: auto ;

	margin-bottom: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.card-img-top {
	max-width: 100%;
	height: auto;
  }

  .card-title {
	color: white;
  }
  
  .card-text {
	color: white;
  }
  

.homebody {
	font-family: 'Crimson Text', serif;

  }

.first-line {
	padding-top: 200px;
	padding-bottom: 50px;
}

.second-line {
	padding-bottom: 50px;
}

.third-line {
	padding-bottom: 200px;
}

.footer {
	font-family: 'Kanit', sans-serif;
  }
  
.footer a {
	text-decoration: none;
  }
  